.about-altercation {
  object-position: 35% 80% !important;
}

.form-box {
  margin: auto;
  max-width: 40rem;
}

.form-field-flexbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 1.5rem;
}

.form-field-flexbox > input {
  padding: 12px 20px;
  border: 0;
  /* border-bottom: 0.5px solid #ccc; */
  box-shadow: 2px 2px 10px 0px rgb(0 0 0 / 38%);
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
}

.input-field {
  padding: 12px 20px;
  border: 0;
  /* border-bottom: 0.5px solid #ccc; */
  box-shadow: 2px 2px 10px 0px rgb(0 0 0 / 38%);
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
}

.email-input-box {
  position: relative;
  display: flex;
  flex-direction: column;
}
.error-message {
  font-size: 0.8rem;
  color: red;
  margin-top: 0.5rem;
  z-index: 1;
}

.input-light {
  background-color: rgb(228, 228, 228);
  color: black;
}

.input-dark {
  background-color: #0b0b0b;
  color: white;
}

.gender-dropdown {
  padding: 12px 20px;
  border: 0;
  box-shadow: 2px 2px 10px 0px rgb(0 0 0 / 38%);
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
  /* width: 100%; */
}

.change-dropdown-animation {
  animation: 1s ease-in-out slideFromBottom;
}

.submit-button-box {
  width: 100%;
  text-align: center;
  margin: 1rem;
}

.submit-button-box > button {
  text-align: center;
  margin: 1rem;
  padding: 1rem 3rem;
  border: 0;
  background-color: green;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.submit-button-box > button:hover {
  background-color: rgb(1, 94, 1);
}

.about-me-info > h2 {
  text-align: center;
}

.about-me-info > h3 {
  text-align: center;
}
