/* .home {
  max-width: 77rem;
  width: 100%;
  box-shadow: 8px 9px 111px 0px rgba(156, 156, 156, 0.68);
  border-radius: 40px;
  padding: 0rem;
  overflow: hidden;
  animation: 1s ease-in-out slideFromBottom;
}

.home-white {
  box-shadow: 8px 9px 111px 0px rgba(156, 156, 156, 0.68);
}

.home-dark {
  box-shadow: 8px 9px 111px 0px rgba(42, 42, 42, 0.68);
  background-color: #303030;
} */

.home-content-section-main-heading {
  /* width: 100%; */
  text-align: center;
  margin: 2rem auto;
  font-size: 3rem;
}

/* .home-hero-image-box {
  height: auto;
  object-fit: cover;
  max-width: 100%;
  position: relative;
}

.hero-image-box-home {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  font-size: 9rem;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
} */

/* .home-hero-image {
  width: 100%;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  height: 20rem;
  object-fit: cover;
  object-position: 35% 50%;
} */

.home-image-text:nth-child(odd) {
  flex-direction: row !important;
}

.home-image-text:nth-child(even) {
  flex-direction: row-reverse !important;
}

.home-content-section {
  padding: 2rem 1rem;
}

.home-judgement-flexbox {
  display: flex;
  /* flex-direction: row; */
  width: 100%;
  margin: 1rem;
  justify-content: space-around;
  flex-wrap: wrap;
}

.home-judgement-flexbox > h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.home-judgement-illustration-size {
  height: auto;
  width: 40%;
}

.pie-flexbox {
  width: 15rem;
  height: 15rem;
}

.pie {
  width: 100%;
  height: 100%;
  background-image: conic-gradient(orange 60%, blue 17%, black);
  border-radius: 50%;
}

.gallery-of-images-box {
  margin: 1rem;
  width: 100%;
  text-align: center;
}

.gallery-of-images-box > h3 {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.home-gallery-of-images {
  display: grid;
  width: 90%;
  gap: 0.3rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  text-align: center;
  margin: auto;
  text-align: center;
}

.home-gallery-of-images > div {
  width: 100%;
  height: auto;
  text-align: center;
  /* animation: cardEntrance 2s ease-out; */
}

.home-gallery-of-images > div > img {
  width: 100%;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  height: 20rem;
  object-fit: cover;
  object-position: 50% 50%;
  /* border-radius: 10px; */
}

.gallery-of-images-box > button {
  padding: 0.5rem 2rem;
  margin-top: 3rem;
}

.home-gallery-of-images:nth-child(1) {
  animation-delay: calc(10 * var(--the-delay));
}

.home-gallery-of-images:nth-child(2) {
  animation-delay: calc(20 * var(--the-delay));
}

@keyframes slideFromBottom {
  0% {
    transform: translateY(5%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* CSS */
.button-2 {
  /* background-color: rgba(51, 51, 51, 0.05); */
  border-radius: 8px;
  border-width: 0;
  /* color: #333333; */
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-2-light {
  background-color: rgba(51, 51, 51, 0.05);
  color: #333333;
}

.button-2-dark {
  background-color: rgba(174, 173, 173, 0.339);
  color: #eeeeee;
}

@keyframes cardEntrance {
  from {
    opacity: 0;
    transform: scale(0.3);
    filter: hue-rotate(180deg);
  }
  to {
    opacity: 1;
    transform: scale(1);
    filter: hue-rotate(0deg);
  }
}
