.card-layout {
  width: 100%;
  /* border: 0.1px solid gray; */
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 10px 10px 49px 0px rgba(0, 0, 0, 0.38);
}

.card-layout > img {
  width: 100%;
  height: 25rem;
  object-fit: cover;
}

.card-content {
  margin-top: 0.5rem;
  text-align: center;
  width: 100%;
}

.card-content > h2 {
  margin: auto;
  text-align: center;
}

.card-content > p {
  /* margin: auto; */
  text-align: center;
  padding: 0rem 1rem;
}

.locate-me-button {
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  border: 0;
  background-color: green;
  color: white;
  border-radius: 10px;
}
