@media only screen and (min-width: 360px) and (max-width: 800px) {
  .hamburger {
    display: block;
    padding: 1rem;
    text-align: right;
    position: relative;
  }

  .hamburger-light {
    color: black;
    background-color: #eeeeee;
  }

  .hamburger-dark {
    color: white;
    background-color: black;
  }

  .header-flexbox {
    align-items: center;
  }

  .header-flexbox > h3 {
    width: 100%;
    margin: 1rem;
  }

  .parent-nav-flexbox {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 1rem;
    height: 100%;
    position: relative;
  }

  .dropdown-button {
    display: block;
  }

  .mobile-theme {
    display: flex;
    flex-direction: column;
    z-index: 1;
    background-color: black;
  }

  .hero-image-box-home {
    font-size: 2rem;
  }
  .home-content-section {
    padding: 1rem 0.5rem;
  }
  .home-content-section-main-heading {
    font-size: 2rem;
  }

  .home-gallery-of-images > div > img {
    width: 50%;
    height: 10rem;
  }

  .gallery-of-images-box > h3 {
    font-size: 1rem;
  }

  .home-judgement-flexbox {
    flex-direction: column;
    width: 80%;
  }

  .gallery-of-images-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-flexbox {
    position: absolute;
    background-color: black;
    color: white;
    /* right: -13rem; */
    top: 2.5rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
  }

  .nav-flexbox > ul {
    color: white;
    list-style: none;
    /* margin: 0; */
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .header-navigation > li {
    padding: 0;
  }
  .change-theme-button {
    padding: 0.5rem 0.5rem;
    margin: 0rem 3rem 1rem 3rem;
    border-radius: 5px;
  }

  .nav-mobile-show {
    display: block;
  }

  .nav-mobile-noshow {
    display: none;
  }
}
