.blogs-content-section {
}

.blogs-content-section-heading {
  margin: auto;
  margin-top: 1rem;
  text-align: center;
  font-size: 3rem;
}

.cards-mini-card-layout {
  margin: 2rem 1rem;
}

.mini-blogs-container {
  margin: auto;
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 15rem));
  gap: 1rem;
  justify-content: center;
  width: 100%;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
