html,
body {
  margin: 0;
  padding: 0;
}

:root {
  --dark-background: #eeeeee;
}

.light {
  background-color: #eeeeee;
}
.dark {
  background-color: #0b0b0b;
}

.light-background {
  background-color: #eeeeee;
  /* animation: fadeIn 1s linear; */
  transition: all 0.5s linear;
  color: black;
}

.dark-background {
  background-color: #222222;
  /* animation-name: fadeIn; */
  /* animation-duration: 1s; */
  transition: all 0.5s linear;
  color: white;
}

.the-root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.the-root > main {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin: 3rem 0;
}

.light > h2 {
  color: black;
}
.dark > h2 {
  color: white;
}
.home {
  max-width: 77rem;
  width: 100%;
  box-shadow: 8px 9px 111px 0px rgba(156, 156, 156, 0.68);
  border-radius: 40px;
  padding: 0rem;
  overflow: hidden;
  animation: 1s ease-in-out slideFromBottom;
}

.home-white {
  box-shadow: 8px 9px 111px 0px rgba(156, 156, 156, 0.68);
}

.home-dark {
  box-shadow: 8px 9px 111px 0px rgba(42, 42, 42, 0.68);
  background-color: #303030;
}

.home-hero-image-box {
  height: auto;
  object-fit: cover;
  max-width: 100%;
  position: relative;
}

.hero-image-box-home {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  font-size: 9rem;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
}

.home-hero-image {
  width: 100%;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  height: 20rem;
  object-fit: cover;
  object-position: 35% 50%;
}

/* .main-block {
  max-width: 77rem;
  width: 100%;
  box-shadow: 8px 9px 111px 0px rgba(156, 156, 156, 0.68);
  border-radius: 40px;
  padding: 0rem;
  overflow: hidden;
  animation: 1s ease-in-out slideFromBottom;

  --the-delay: 100ms;
}

.main-white {
  box-shadow: 8px 9px 111px 0px rgba(156, 156, 156, 0.68);
}

.main-dark {
  box-shadow: 8px 9px 111px 0px rgba(42, 42, 42, 0.68);
  background-color: #303030;
} */
